/* Zawiera podstawowe style aplikacji, np. tło, centrowanie treści, wygląd przycisków. */

.App {
  text-align: center;
  background-color: rgb(230, 247, 230);
  background-size: cover;
  height: 100vh;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.dynamic-button {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  text-align: center;
  white-space: nowrap;
}