.Chat {         /* Podobne jak AdminChat, ale z innym stylem czatu */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 247, 230);
    padding: 20px 10% 20px 10%;     /* Padding dla przestrzeni */
}

.modal-content-centered {       /* Kontener dla modali, wyśrodkowanie treści */
    text-align: center;
    margin: 0 auto;
}

.button-spacing {       /* Margines między przyciskami w formularzach */
    margin-right: 10px;
}

.table-responsive {         /* Responsywna tabela */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.offer-row {            /* Stylowanie wierszy w tabeli */
    line-height: 4;
}

.table-responsive table {       /* Stylowanie tabeli, minimalna szerokość */
    min-width: 600px;
}

@media (max-width: 576px) {     /* Responsywność na małych ekranach */
    .table-responsive table {
        min-width: 100%;
    }
}

.chat-container {           /* Podobny do poprzedniego czat, ale z różnymi ustawieniami */
    display: flex;
    flex-direction: column;
    height: 75vh;
    background-color: rgb(210, 218, 227);
    width: 65%;
    padding: 2% 2% 1% ;
    border-radius: 20px;
}

.chat-name {                /* Styl nagłówka czatu */
    color: rgb(255, 255, 255) !important;           /* Białe litery */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-weight: bold !important;
    font-size: 24px !important;
}

.message-timestamp {        /* Styl dla daty i godziny wiadomości */
    font-size: 14px;
}

.messages {     /* Kontener wiadomości */
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
    padding: 10px;
    border: 1px solid #f4f4f4;
    margin-bottom: 1rem;
}

.message-input {            /* Styl pola do wpisywania wiadomości */
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sticky-navbar {         /* Ustawienie navbaru, aby był widoczny podczas przewijania */
    z-index: 1000;
}